[submodule "hicodet"]
	path = hicodet
	url = https://github.com/ga94zot/hicodet.git
[submodule "vcoco"]
	path = vcoco
	url = https://github.com/ga94zot/vcoco.git
[submodule "pocket"]
	path = pocket
	url = https://github.com/ga94zot/pocket.git
[submodule "detr"]
	path = detr
	url = https://github.com/ga94zot/detr.git
[submodule "h-detr"]
	path = h_detr
	url = https://github.com/ga94zot/h_detr.git
